{% extends 'layout.html' -%}
{% block title %}
  用户
{% endblock %}
{% block style %}
  {% parent %}
  <link rel="stylesheet" href="styles/user.css">
{% endblock %}
{% block content %}
  <p>
    <a href="/addUser" type="button" class="btn btn-success addBtn">新增</a>
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>
            <a href="/editUser/{{user.id}}" type="button" class="btn btn-info editBtn">编辑</a>
            <a href="/delete/{{user.id}}" type="button" class="btn btn-warning delBtn">删除</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block script %}
<script>
  // $(function () {
    // $('tr').on('click', '.editBtn', function () {
    //   console.log($(this).attr('data-id'));
    // });
    // $('tr').on('click', '.delBtn', function (e) {
    //   // console.log($(this).attr('data-id'));
    //   e.preventDefault();
    //   e.stopPropagation();
    //   const id = $(this).attr('data-id');
    //   $.ajax({
    //     url: '/delete/' + id,
    //     method: 'get',
    //     success: function (data) {
    //       console.log(data);
    //     }
    //   })
    // });
  // });
</script>
{% endblock %}
